@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Ocultar scrollbar en navegadores basados en WebKit */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* Ocultar scrollbar en Internet Explorer y Edge */
  scrollbar-width: none;  /* Ocultar scrollbar en Firefox */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-10rem * 3.3));
  }
}

@keyframes scroll-2 {
  0% {
    transform: translateX(calc(-10rem * 2.2));
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll 9s linear infinite; 
}

.animate-scroll-2 {
  animation: scroll-2 7s linear infinite; 
}